html, body {
  
  height: 100%;
}

body {
      
      background-color: #009999 !important;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #f5f5f5;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-pack: center;
}

section {
    
    margin-bottom: 15px !important;
}

input:focus, button:focus {
      
      outline: none;
}

#server-disconnect {
  
  color: red;
  text-transform: uppercase;
}


/* ----------------- pre-chatroom-join ----------------- */ 


@media (min-width: 1200px) {
      
      .container-pre-chatroom-join {

            width: 400px;
      }
}

@media (min-width: 992px) {
      
      .container-pre-chatroom-join {

            width: 400px;
      }
}

@media (min-width: 768px) {
      
      .container-pre-chatroom-join {

            width: 400px;
      }
}

@media (min-width: 576px) {
      
      .container-pre-chatroom-join {

            width: 400px;
      }
}

.input-group-btn {

    padding-left: 35px;
    padding-right: 35px;
}

.input-group-input {

    padding-left: 50px;
    padding-right: 50px;
}

.no-margin-bottom {
      margin-bottom: 0px !important;
}

#chatroom-id-digit-input {
      
      width: 100%;
      background: white;
      padding: 7px;  
      font-size: 32px;
      font-family: verdana;
      color: #285667;
      border-style: solid;
      border-width: 0px;
      border-radius: 12px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 7px;
}

#create-chatroom {
      
      background: #ffe441;
      padding: 5px; 
      height: 63px; 
      font-size: 22px;
      font-family: verdana;
      color: #285667;
      border-width: 0px;
      border-radius: 12px;
      font-weight: bold;
}   

#join-chatroom {
    
      background: #78d498;
      padding: 5px;
      height: 63px; 
      font-size: 22px;
      font-family: verdana;
      color: #285667;
      border-width: 0px;
      border-radius: 12px;
      font-weight: bold;
      margin-bottom:30px;
      margin-top: 10px;
      margin-bottom: 20px;
}

#join-chatroom:hover {

	background: #54ad73;
}

#create-chatroom:hover {

	background: #c6ad2b;
}

.text-center {

      color: white;
      font-size: 13.5px;
      font-family: verdana;
}

#link-knock-kock-website:link {
      
      color: white;
      background-color: transparent;
      text-decoration: none;  
}
      
#link-knock-kock-website:visited {
      
      color: #ffe441;
      background-color: transparent;
      text-decoration: none;
}

#link-knock-kock-website:hover {
      
      color: #285667;
      background-color: transparent;
      text-decoration: underline;
}

.invalid-chatroom-id-digit-input{

      border-width: 2px !important;
      border-color: #DC143C;
}

.invalid-notification {

      text-align: center;
      background-color: #ffe441;
      color: #285667;
      font-weight: bold;
      border-radius: 9px;
      padding-top: 10px;
      padding-bottom: 10px;
}


/* ----------------- pre-chatroom-join ----------------- */


/* ----------------- post-chatroom-messaging ----------------- */


@media (min-width: 1200px) {
      
      .container-post-chatroom-messaging {

            width: 850px;
      }

      #knock-knock-post-logo-section {
           
            width: 390px;
            margin-right: auto;
            margin-left: auto;
      }
}

@media (min-width: 992px) {
      
      .container-post-chatroom-messaging {

            width: 850px;
      }

      #knock-knock-post-logo-section {
           
            width: 390px;
            margin-right: auto;
            margin-left: auto;
      }
}

@media (min-width: 768px) {
      
      .container-post-chatroom-messaging {

            width: 850px;
      }

      #knock-knock-post-logo-section {
           
            width: 390px;
            margin-right: auto;
            margin-left: auto;
      }
}

@media (min-width: 576px) {
      
      .container-post-chatroom-messaging {

            width: 850px;
      }

      #knock-knock-post-logo-section {
           
            width: 390px;
            margin-right: auto;
            margin-left: auto;
      }
}

#chatroom-id-knock-knock-logo {

      padding-top: 5px;
      padding-bottom: 5px;
      border: 0;
      background-color: #ffe441;
      font-size: 18px;
      color: #045959;
      font-family: verdana;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
}

#character-color-information-section {

      display: flex;
}

#character-personality-traits {

      display: inline-grid;
      align-content: center;
}

.character {
      
      width: 100%;
      height: 18vw;
      border-radius: 40px;
      border-style: solid;
      border-width: 15px !important;
}

.personality-trait {

      color: white;
      font-size: 15px;
      font-family: verdana;
      padding-bottom: 5px;
}

.player-color {

      width: 5vw;
      height: 5vw;
      margin-left: 14px;
      border-radius: 15px;
      text-align: center;
}

.ready {
      
      display: inline-flex;
      height: 100%;
      align-items: center;
      font-size: 20px;
      color: #045959;
      font-family: verdana;
      font-weight: bold;
      text-transform: uppercase;
}

#other-players-color-group {
    
      display: -webkit-box;
      height: fit-content;
}

#assigned-character-color {
      
      padding-left: 26px;
      padding-right: 26px;
}

#chatroom-messages {

      height: 20rem;
      overflow-y: scroll;
      overflow-x:hidden;
      background-color: lightskyblue;
}

#chat-message-box {
      
      width: 100%;
      background: white;
      padding: 5px; 
      height: 45px; 
      font-size: 19px;
      color: white;
      font-family: verdana;
      color: #285667;
      border-width: 0px;
      border-radius: 12px;
      margin-right: 10px;
}

#question {

      padding: 10px;
      border: 0;
      font-size: 19px;
      color: #045959;
      font-family: verdana;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
}

#reply, #pre-chat {

      background-color: #fff0b3;
      text-align: center;
      line-height: 1.6;
      vertical-align: center;
      overflow: hidden;
      border-radius: 15px;
      font-family: verdana;
      color: #045959;
      font-weight: bold;
      padding: 10px;
      margin-left: 10px;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      display: table;
      word-break: break-word;
}

#publish-chat-message {
      
      display: inline-block;
      text-align: center;
      background: #ffe441;
      height: 45px;
      font-size: 21px;
      font-family: verdana;
      color: #285667;
      border-width: 0px;
      border-radius: 12px;
      font-weight: bold;
      margin:0 auto;
      box-shadow: 5px 5px #006666;
      cursor:pointer;
      padding-top: 2px;
}

#publish-chat-message-group {
      
      display: inline-flex;
      padding-left: 45px;
      padding-right: 45px;
}

#start-session-button {
      
      background: #78d498;
      padding: 10px;
      height: 2.5%;
      font-size: 20px;
      font-family: verdana;
      color: #285667;
      border-width: 0px;
      border-radius: 12px;
      font-weight: bold;
      box-shadow: 5px 5px #006666;
      cursor:pointer;
      display: block;
      margin: auto;
}

#ready-to-play-button {
      
      background: #78d498;
      padding: 10px; 
      height: 2.5%; 
      font-size: 20px;
      font-family: verdana;
      color: #285667;
      border-width: 0px;
      border-radius: 12px;
      font-weight: bold;
      box-shadow: 5px 5px #006666;
      cursor:pointer;
      display: block;
      margin: auto;
}

#publish-chat-message:hover {
      
      background: #c6ad2b;
}

#start-session-button:hover {
      
      background: #54ad73;
}

#ready-to-play-button:hover {
      
      background: #54ad73;
}

#dynamic-topic-questions {

      display: inline-flex;
}

.topic-question { 
      
      background:#78d498;
      border:none;
      padding: 10px;
      margin-right: 10px;    
      font-family: verdana;
      color: #285667;
      font-weight: bold;
}

.topic-question:hover {
      
      background: #54ad73;
}

#facilitator-notification-section {

      padding-left: 60px;
      padding-right: 60px;
}

.facilitator-notification {

      background-color: #ffe441;
      font-weight: bold;
      border-radius: 9px;
      padding: 5px;
      text-align: center;
      color: #285667;
      font-size: 16px;
}

 #facilitator-overlay {
        
      position: fixed; 
      width: 100%; 
      height: 100%;
      background-color: rgba(0,0,0,0.5); 
      z-index: 2; 
      cursor: pointer;
}

.facilitator-text {
      
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      color: white;
      transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
}

#facilitator-overlay-guessing-layout {
        
      position: fixed; 
      width: 100%; 
      height: 100%;
      background-color: rgba(0,0,0,0.5); 
      z-index: 2; 
      cursor: pointer;
      overflow-x: auto;
}

#guess-who-is-who-knock-knock-logo {

      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 0;
      background-color: #ffe441;
      font-size: 18px;
      color: #045959;
      font-family: verdana;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
}

.character-to-guess-from {
      
      width:100%;
      border-style: solid;
      border-width: 15px;
      border-color: white;
      border-radius: 60px;
}

@media (min-width: 1200px) {

      .container-guess-who-is-who {

            width: 640px;
      }
}

@media (min-width: 992px) {

      .container-guess-who-is-who {
            
            width: 620px;
      }
}

@media (min-width: 768px) {
      
      .container-guess-who-is-who {
            
            width: 540px;
      }
}

#send-guesses-button {

      background: #ffe441;
      font-size: 23px;
      color: white;
      font-family: verdana;
      color: #285667;
      border-width: 0px;
      border-radius: 12px;
      font-weight: bold;
      margin:0 auto;
      box-shadow: 5px 5px #006666;
      cursor:pointer;
      margin-left: 30px;
      padding-left: 15px;
      padding-right: 15px;
}

#send-guesses-button:hover {
      
      background: #c6ad2b;
}

#current-player-points {

      display: block;
      text-align: center;
      font-size: 20px;
      color: #045959;
      font-family: verdana;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 10px;
}

#player-points-dashboard-knock-knock-logo {
      
      padding-top: 5px;
      padding-bottom: 5px;
      border: 0;
      background-color: #ffe441;
      font-size: 18px;
      color: #045959;
      font-family: verdana;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
}

#guess-color-group {

      display: inline-flex;
      padding: 25px;
}

#fifth-row {

     margin-bottom: 30px; 
}


/* ----------------- post-chatroom-messaging ----------------- */