<div class="container container-post-chatroom-messaging">
      <section id="knock-knock-post-logo-section" class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                  <img class="img-responsive center-block" id="post-chatroom-messaging-knock-knock-logo" src="logos/43070045_127008.png">
            </div>
      </section>
      <section id="character-color-information-section" class="row">
            <div id="assigned-character-color" class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div id="character-personality-traits" class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
            <div id="other-players-color-group"class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>
      </section>
      <section id="facilitator-notification-section" class="row"/>
      <section id="chatroom-messageing-section" class="row">
            <div id="chatroom-messageing" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div id="chatroom-messages"></div>
            </div>
      </section>
      <section id="chatroom-send-message-section" class="row">
            <div id="publish-chat-message-group" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input type="text" id="chat-message-box"/>
                  <button id="publish-chat-message">ENTER</button>
            </div>
      </section>
      <section id="chatroom-bottom-buttons-and-questions" class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <div id="ready-start-buttons"></div>
                  <div id="dynamic-topic-questions"></div>
            </div>
      </section>
</div>